.services {
  padding-top: 8rem;

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 8rem;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 3rem;
    }

    @include sm-tablet {
      gap: 2rem;
    }
  }

  @include tablet {
    padding-top: 0;
  }

  @include sm-tablet {
    padding-top: 2rem;
  }
}