<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__block">
        <a href="index.html" class="footer__logo">
          <img src="img/logo-mobile-title.svg" alt="Cat Energy" width="128" height="24">
        </a>
      </div>
      <div class="footer__block">
        <a href="https://github.com/lostsleepyboii/" class="footer__link  footer__link--social" target="_blank" rel="noopener" aria-label="Мы Вконтакте!">
          <svg class="_icon  _icon--vk" aria-hidden="true" focusable="false">
            <use href="img/sprite.svg#vk"/>
          </svg>
        </a>
        <a href="https://github.com/lostsleepyboii/" class="footer__link  footer__link--social" target="_blank" rel="noopener" aria-label="Мы в Инстраграме!">
          <svg class="_icon  _icon--inst" aria-hidden="true" focusable="false">
            <use href="img/sprite.svg#inst"/>
          </svg>
        </a>
        <a href="https://github.com/lostsleepyboii/" class="footer__link  footer__link--social" target="_blank" rel="noopener" aria-label="Мы в Фейсбуке!">
          <svg class="_icon  _icon--fb" aria-hidden="true" focusable="false">
            <use href="img/sprite.svg#fb"/>
          </svg>
        </a>
      </div>
      <div class="footer__block">
        <a href="https://htmlacademy.ru/" class="footer__link" target="_blank" rel="noopener">
          <span>HTML Academy</span>
          <svg class="_icon _icon--htac" aria-hidden="true" focusable="false">
            <use href="img/sprite.svg#htac"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
