<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html">
        <picture>
          <source media="(max-width: 767px)" srcset="img/logo-mobile.svg">
          <source media="(max-width: 1100px)" srcset="img/logo-tablet.svg">
          <img class="header__logo" src="img/logo.svg" alt="Cat Energy Logo" width="202" height="59">
        </picture>
      </a>
      <img src="img/logo-mobile-title.svg" alt="Cat Energy" class="header__logo-title" width="101" height="18">
      <button class="header__burger burger" aria-label="Меню">
        <span></span>
      </button>
      <nav class="header__nav nav">
        <a href="index.html" class="nav__link  active">Главная</a>
        <a href="catalog.html" class="nav__link">Каталог продукции</a>
        <a href="form.html" class="nav__link">Подбор программы</a>
      </nav>
    </div>
  </div>
</header>