._visually-hidden {
  margin: -1px;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

._title {
  color: var(--color-black);
  font-family: var(--ff-title);
  font-size: var(--font-xl);
  font-weight: 400;

  @include sm-tablet {
    font-size: var(--font-l);
  }
}

._btn {
  padding: 1.4rem 2.6rem;
  position: relative;
  z-index: var(--zd1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-family: var(--ff-title);
  font-size: var(--font-primary);
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--color-accent);
  transition: background-color 0.2s ease;

  &--large {
    font-size: var(--font-s);
    line-height: 1;
    
    @include sm-tablet {
      font-size: var(--font-xs);
    }
  }

  &--gray {
    color: var(--color-primary);
    background-color: var(--color-gray-100);

    &:focus {
      background-color: var(--color-gray-200) !important;
    }

    &:hover {
      background-color: var(--color-gray-200) !important;
    }
  }

  span {
    transition: opacity 0.2s ease;
  }

  &:focus {
    background-color: var(--color-green);

    span {
      opacity: 0.3;
    }
  }

  &:hover {
    background-color: var(--color-green);
  }

  @include sm-tablet {
    width: 100%;
  }
}

._icon {
  fill: var(--color-gray-400);
  transition: fill 0.2s ease;

  &--fb {
    width: 28px;
    height: 33px;
    stroke: var(--color-gray-400);
    transition: stroke 0.2s ease;
  }

  &--inst {
    width: 23px;
    height: 23px;
  }

  &--vk {
    width: 30px;
    height: 22px;
  }

  &--htac {
    width: 27px;
    height: 34px;
  }

  &--phone {
    width: 20px;
    height: 20px;
  }

  &--email {
    width: 19px;
    height: 14;
  }
}

._form-title {
  padding: 0 4rem;
  position: relative;
  left: -4rem;
  z-index: var(--zd1);
  color: var(--color-black);
  font-family: var(--ff-title);
  font-size: var(--font-l);
  font-weight: 400;
  background-color: var(--color-white);

  @include tablet {
    left: 0;
  }

  @include sm-tablet {
    padding-right: 2rem;
    padding-left: 0;
    font-size: var(--font-xm);
  }
}